.about-wrapper {
  padding-top: 120px;
  padding-bottom: 80px;
}

.page-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.about-container {
  max-width: 950px;
  margin: auto;
  display: flex;
  gap: 30px;
  padding: 40px;
}

.about-img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 3px solid #00aaff;
  box-shadow: 0 0 20px rgba(0, 170, 255, 0.5);
  object-fit: cover;
}

.about-text {
  font-size: 1.1rem;
  color: #cfeaff;
  line-height: 1.7;
}
