.skills-wrapper {
  padding-top: 120px;
  padding-bottom: 80px;
}

.skills-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.skill-card h2 {
  color: #00aaff;
  margin-bottom: 15px;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card li {
  margin-bottom: 8px;
  color: #cfeaff;
}
